# Python

`Print Statement`

In [2]:
print("Data Science is fun!")

Data Science is fun!

In [4]:
print("Greeting from Data Science")
print("Good Evening")

Greeting from Data Science
Good Evening

In [5]:
 print "Good morning"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3827995939.py, line 1)

In [6]:
print("Good
      morning")

SyntaxError: unterminated string literal (detected at line 1) (837010873.py, line 1)

In [9]:
print("""Good
      morning""")

Good
      morning

In [7]:
"Good Morning"

'Good Morning'

In [8]:
"Good Morning"
print("Hi")

Hi

In [10]:
print("""Machine learning models are powerful tools, but their true value lies in their ability to be used in real-world applications. This is where machine learning production techniques come in. These techniques ensure that your well-trained model can be effectively deployed, monitored, and maintained in a production environment. Here are some key aspects of machine learning production techniques:""")

Machine learning models are powerful tools, but their true value lies in their ability to be used in real-world applications. This is where machine learning production techniques come in. These techniques ensure that your well-trained model can be effectively deployed, monitored, and maintained in a production environment. Here are some key aspects of machine learning production techniques:

In [13]:
print("""Good Morning 
Pakistan
land of 
Heros""")

Good Morning
Pakistan
land of
Heros

# Comments

In [15]:
# say hello to the students 
# print("Hi Students")

# Multi-line comments

In [17]:
"""Say Hi
to the Students"""
print("Hi Students")

Hi Students

In [19]:
   # more exceptional cases in print statements
   
print("Say Hi to the "students" ")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1017271016.py, line 3)

In [20]:
print("Say Hi to the 'Students' ")

Say Hi to the 'Students'

In [21]:
print("""Say Hi to the "Students" """)

Say Hi to the "Students"

In [22]:
print("""Sa y Hi to the "Students"! """)

Say Hi to the "Students"!

In [24]:
100 + 324 # sum of two numbers

424

In [25]:
133 * 34

4522

In [26]:
400 / 45

8.88888888888889

In [28]:
2 ** 8 # Power of 123 raised to 2

256

In [31]:
100%2  # modulo operator which gives you reminder

0

In [34]:
100%3

1

In [37]:
2%2

0

In [36]:
print(123 + 234) 
print("Result")

357
Result

# Variables in Python 
<h1>variables</h1>

In [39]:
x = 100

In [40]:
print(x)

100

In [41]:
y = 200

In [42]:
print(y)

200

In [44]:
print(x + y)

300

In [45]:
print(x / y)

0.5

In [46]:
print(x * y)

20000

`Variables names should start with alphabets or underscore(_)  and can contain alphabets, numbers and underscore(_)`
`variables names should not start with numbers or special characters`
`variables names containing spaces are not allowed`
`variables should not be a keyword`

# Variables are case sensitive

In [47]:
ten = 10
ten_number = 10 
tenNumber = 10

In [48]:
ten* = 10

SyntaxError: invalid syntax (1912161341.py, line 1)

In [49]:
ten%number = 10

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1559910169.py, line 1)

In [50]:
ten/number = 10

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (423474617.py, line 1)

In [51]:
ten10 = 10

In [52]:
10ten = 10

SyntaxError: invalid decimal literal (3011706180.py, line 1)

In [55]:
__ten = 10 # hidden variables

In [56]:
Ten = 10

In [57]:
ten number = 10

SyntaxError: invalid syntax (2262126045.py, line 1)

In [59]:
ten_number = 10

In [61]:
_ = 10 # dummy variables

# Data Types in Python

In [62]:
a = 10 
type(a)

int

In [63]:
b = 20

In [64]:
type(b)

int

# floats - numbers with decimal points

In [65]:
pi = 3.14

In [66]:
type(pi)

float

In [68]:
x = 12.0

type(x)

float

In [69]:
pi = 22/7

In [70]:
print(pi)

3.142857142857143

In [72]:
type(pi)

float

# Complex numbers - numbers with real and imaginary parts

In [7]:
a = 2 + 3j  # 2 is a real number and 3j is a imaginary number 
a

(2+3j)

In [8]:
type(a)

complex

In [9]:
a.real

2.0

In [10]:
a.imag

3.0

# Dynamic typing in Python

```int a  = 22;``` # statically typed language

```a = 22``` # dynamically typed language

In [13]:
a = 22
print(type(a))
a = 22.2
print(type(a))

<class 'int'>
<class 'float'>

In [16]:
print(a) # python is top to bottom

22.2

In [15]:
print(a)

22.2

In [17]:
a = 22
print(type(a))
a = 22.2
print(type(a))
a = "Malik"
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>

In [19]:
print(a) # output is also last one

Malik

# Strong typing in Python

```a = 22``` # int

```a = "hello"``` # string

```a = 22 + "hello"``` # error

In [22]:
"Day" + 1

TypeError: can only concatenate str (not "int") to str

In [24]:
"Day" + "1"

'Day1'

In [28]:
"22" + 22

TypeError: can only concatenate str (not "int") to str

In [25]:
"22" + "22"

'2222'

In [27]:
"Malik " + "Zeeshan"

'Malik Zeeshan'

In [31]:
22.1 + 2

24.1

In [34]:
a = 1 # int data type
b = 1.2 # float data type
c = "Malik"  # string data type
d = 1 + 2j  # complex data type

In [35]:
print("Hi welcome to class of python language")

Hi welcome to class of python language

In [36]:
language = "Python"
print("Hi welcome to class of " + language + " language") # allowed but rarely used

Hi welcome to class of Python language

In [44]:
language = "Python"
print(f"Hi welcome to class of {language} language")   # current standard approach used

Hi welcome to class of Python language

In [45]:
language = "Python"
print(f"Hi welcome to class of " + language + " language")

Hi welcome to class of Python language

In [46]:
language = "Python"
print(f"Hi welcome to class of {language}  language") #

Hi welcome to class of Python  language

In [49]:
language = "JavaScript"
print("Hi welcome to class of {} language".format(language))  # old way

Hi welcome to class of JavaScript language

In [53]:
a = 10
b = 40
c = a + b
print(c)
print(f"the result sum of two nums a : {a} and b: {b} is {c}")  #format 
print(f"{a} addition {b} is = {c}")

50
the result sum of two nums a : 10 and b: 40 is 50
10 addition 40 is = 50

# Boolean data type

```a = True```

```b = False```

In [54]:
one = True
two = False

print(type(one))
print(type(two))

<class 'bool'>
<class 'bool'>

In [57]:
Class_starts_at = 1500
you_came_at = 1600
you_came_at < Class_starts_at
you_understood_all_concepts = you_came_at < Class_starts_at
print(f"You understood everything?:{you_understood_all_concepts} ")

You understood everything?:False

In [58]:
Class_starts_at = 3
you_came_at = 4
you_came_at < Class_starts_at
you_understood_all_concepts = you_came_at < Class_starts_at
print(f"You understood everything?:{you_understood_all_concepts} ")

You understood everything?:False

In [60]:
Class_starts_at = 8  # class start a 3 PM
you_came_at = 6  # YOU CAME TO CLASS AT 4 PM
you_came_at < Class_starts_at
you_understood_all_concepts = you_came_at < Class_starts_at
print(f"You understood everything?:{you_understood_all_concepts} ")

You understood everything?:True

In [9]:
#  = assignment 
#  == means comparing equlity 
is_raining = True
umbralla_available = False
go_to_college = is_raining == umbralla_available # comparing both sides 
go_to_college

False

In [1]:
print(""")

SyntaxError: incomplete input (3461146339.py, line 1)

In [2]:
print("\"")

"

In [4]:
print(""" " """)

 "

In [5]:
print(""" / """)

 /

In [6]:
name = "Malik Zeeshan"
print("my name is: {name}")

my name is: {name}

In [7]:
name = "Malik Zeeshan"
print(f"my name is: {name}")

my name is: Malik Zeeshan