# Agenda for Python Programming
# Introduction
- Variables Case Sensitivity
- Reserved Words
- Multi-line Statements
- User Input
- type conversion
- type casting
- Memory Management
- Operators
1. Arithmetic Operators
2. Assignment Operators
3. Comparison Operators
4. Logical Operators
5. Identity Operators
6. Membership Operators
7. Bitwise Operators
# Control Flow
1. Conditional Statements
2. Looping Statements
3. Break and Continue Statements
4. Pass Statement
5. Looping Techniques
# Functions
1. Defining a Function
2. Calling a Function
3. Arguments
4. Return Statement
5. Scope and Lifetime of Variables
6. Recursion
7. Anonymous Functions
8. Lambda Functions
9. Higher-Order Functions
10. Closures
11. Decorators
# Data Structures
1. Lists
2. Tuples
3. Sets
4. Dictionaries
5. Arrays
6. Strings
7. Ranges
8. Bytes and Byte Arrays
9. Linked Lists
10. Stacks
11. Queues
12. Trees
13. Graphs
14. Hash Tables
15. Heaps
16. Tries
17. Vectors
18. Matrices
19. Sparse Matrices
20. Multi-dimensional Arrays

# Algorithms
1. Searching
2. Sorting
3. Recursion
4. Greedy Algorithms
5. Dynamic Programming
6. Backtracking
7. Divide and Conquer
8. Bit Manipulation
9. Randomized Algorithms
10. Branch and Bound
11. Brute Force
12. Graph Algorithms
13. String Algorithms
14. Geometric Algorithms
15. Mathematical Algorithms
16. Bit Algorithms
17. Array Algorithms
18. Matrix Algorithms
19. Tree Algorithms

# Object-Oriented Programming
1. Classes and Objects
2. Inheritance
3. Polymorphism
4. Encapsulation
5. Abstraction
6. Interfaces
7. Constructors
8. Destructors
9. Access Modifiers
10. Method Overloading
11. Method Overriding
12. Operator Overloading
13. Operator Overriding
14. Abstract Classes
15. Interfaces
16. Singleton Pattern
17. Factory Pattern
18. Builder Pattern
19. Prototype Pattern

# Variables Case Sensitivity

In [49]:
TEN = 10 
ten = 20  # different 

# TEN and ten both are different in terms of lowercase and uppercase letter
print(TEN)
print(ten)

10
20

# Reserved Words 
Reserved words are the words that are part of the Python language syntax. They are reserved for a specific purpose and cannot be used for any other purpose.


- False    await      else       import     pass
- None     break      except     in         raise
- True     class      finally    is         return
- and      continue   for        lambda     try
- as       def        from       nonlocal   while
- assert   del        global     not        with
- async    elif       if         or         yield

In [50]:
print("Hi there")

Hi there

In [51]:
print = "Hi there"
type(print)

str

In [52]:
print("Hi there")

TypeError: 'str' object is not callable

In [6]:
print = 10
# delete the variables print ===> del print

# Multi Assignment of Variables

In [ ]:
a, b, c , d, e, f = 10, 20, "Malik Zeeshan", 23.00, True, 2 + 3j

In [ ]:
type(a), type(b),type(c),type(d),type(e), type(f)

(int, int, str, float, bool, complex)

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e)) 
print(type(f))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'complex'>

In [ ]:
type(a,b,c,d,e,f)

TypeError: type() takes 1 or 3 arguments

In [ ]:
a, b ,c = 10

TypeError: cannot unpack non-iterable int object

In [ ]:
a, b , c = 10, 10, 10
print(a,b,c)

10 10 10

In [ ]:
a,B,C,d = 10, 20.3, "Malik Zeeshan", True
print(a,B,C,d)

10 20.3 Malik Zeeshan True

In [ ]:
a=b=c=10

In [ ]:
a,b,c

(10, 10, 10)

In [58]:
firstName , middleName, sirName = "Malik", "Zeeshan", "Arain"

In [57]:
print(f"{firstName}{middleName}{sirName}@gmail.com")

MalikZeeshanArain@gmail.com

In [59]:
name, place, year_of_birth, weight = "Malik Zeeshan", "Pakistan", 2003, 49

In [65]:
print(f"My Name is {name} live in {place} date of birth {year_of_birth} and weight {weight} kgs")

My Name is Malik Zeeshan live in Pakistan date of birth 2003 and weight 49 kgs

# User Input

In [2]:
name = input("Enter your Name: ")

print(f"You have entered: {name}")

You have entered: Malik Zeeshan

In [4]:
age = input("Enter your age: ")
print(f"Your   age is:  {age}")

Your age is:  21

In [5]:
A = input("Enter value of A: ")
B = input("Enter value of B: ")

print(f"Sum of A and B is: {A + B}")

Sum of A and B is: 100000200000

In [4]:
C= int(input("Enter value of A: "))
D = int(input("Enter value of B: "))

print(type(C), type(D))

<class 'int'> <class 'int'>

In [6]:
A = float(input("Enter value of A: "))
B = float(input("Enter value of B: "))

print(f"Sum of A and B is: {A + B}")

Sum of A and B is: 3405.0

In [7]:
A = int(input("Enter value of A: "))
B = float(input("Enter value of B: "))

print(f"Sum of A and B is: {A + B}")

Sum of A and B is: 102.0

In [10]:
float(10),int(10)

(10.0, 10)

In [68]:
print(f"My Name is {name} live in {place} date of birth {year_of_birth} and weight {weight} kgs")

My Name is Malik Zeeshan live in Pakistan date of birth 2003 and weight 49 kgs

In [69]:
print(f"My Name is {name} live in {place} date of birth {year_of_birth} and weight {weight} kgs")

My Name is Malik Zeeshan live in Pakistan date of birth 2003 and weight 49 kgs

In [70]:
name = input("Name: ")
place = input("Place: ")
year_of_birth = input("year_of_birth: ")
Job = input("Job: ")

In [71]:
print(f"""
My name is : {name}
I live in {place}
date of birth: {year_of_birth}
job: {Job} """)

My name is : Malik Muhammad Zeeshan
I live in Bahawalpur, Punjab, Pakistan
date of birth: 19-09-2003
job: Machine learning Engineer and Data Scientist

In [77]:
name = input("Name: ")
place = input("Place: ")
year_of_birth = int(input("year_of_birth: "))
Job = input("Job: ")

age = 2024 - int(year_of_birth)

print(f"""
My name is : {name}
I live at {place}
{name} is of age: {age}
job: {Job} """)

My name is : MALIK Zeeshan
I live at Pakistan
MALIK Zeeshan is of age: 21
job: ML Engineer

In [78]:
name = input(" Name: ") # Always gives you string values
place = input("Place: ")
year_of_birth = int(input("year_of_birth: ")) # convert this into integers
current_year = input("current year: ")
Job = input("Job: ")

age = int(current_year) - int(year_of_birth)

print(f"""
My name is : {name} 
I live at {place}
{name} is of age: {age}
job: {Job} """)

My name is : MALIK ZEESHAN
I live at Bahawalpur
MALIK ZEESHAN is of age: 21
job: ML

# Type Conversion

In [1]:
# float to integer 
A = float(input("Enter value of A: "))  # float number 
B = int(input("Enter value of B: "))    # integer number

print(f"Sum of A and B: {A + B}")  # give output float

Sum of A and B: 34.9

In [15]:
# String to integer
Z = "100"
print(f"data type before: {type(Z)}")  # type conversion 
Z = int("100")
print(f"data type before: {type(Z)}")

data type before: <class 'str'>
data type before: <class 'int'>

In [16]:
# String to integer
Z = "100"
print(f"data type before: {type(Z)}")  # type conversion 
Z = str("100")
print(f"data type before: {type(Z)}")

data type before: <class 'str'>
data type before: <class 'str'>

In [17]:
# String to integer
Z = "100"
print(f"data type before: {type(Z)}")  # type conversion 
Z = float("100")
print(f"data type before: {type(Z)}")

data type before: <class 'str'>
data type before: <class 'float'>

In [2]:
# string to float
a = "31416"
print(f"data type before: {type(a)}")
a = float("31416")
print(f"data type before: {type(a)}")

data type before: <class 'str'>
data type before: <class 'float'>

In [29]:
# float to integer 
a = 234.99
print(type(a))

a = int(a) # trying to convert it into integer
print(type(a))

<class 'float'>
<class 'int'>

In [47]:
# integer to float 
a = "31416"
print(f"data type before: {type(a)}, value of A: {a}")
a = float(a)
print(f"data type before: {type(a)},value of A: {a}")

data type before: <class 'str'>, value of A: 31416
data type before: <class 'float'>,value of A: 31416.0

In [45]:
# integer to boolean
a = "10"
print(f"data type before: {type(a)}, value of A: {a}")
a = bool(a)
print(f"data type before: {type(a)},value of A: {a}")

data type before: <class 'str'>, value of A: 10
data type before: <class 'bool'>,value of A: True

# True in Binary -  1
# False in Binary - 0

In [3]:
# integer to boolean
a = 0             # 0/1 False/True
print(f"data type before: {type(a)}, value of A: {a}")
a = bool(a)
print(f"data type before: {type(a)},value of A: {a}")

data type before: <class 'int'>, value of A: 0
data type before: <class 'bool'>,value of A: False

In [48]:
# integer to boolean
a = -5
print(f"data type before: {type(a)}, value of A: {a}")
a = bool(a)
print(f"data type before: {type(a)},value of A: {a}")

data type before: <class 'int'>, value of A: -5
data type before: <class 'bool'>,value of A: True

In [49]:
 # integer to boolean
a = "Malik"
print(f"data type before: {type(a)}, value of A: {a}")
a = bool(a)
print(f"data type before: {type(a)},value of A: {a}")

data type before: <class 'str'>, value of A: Malik
data type before: <class 'bool'>,value of A: True

In [50]:
# integer to boolean
a = "True"
print(f"data type before: {type(a)}, value of A: {a}")
a = bool(a)
print(f"data type before: {type(a)},value of A: {a}")

data type before: <class 'str'>, value of A: True
data type before: <class 'bool'>,value of A: True

In [51]:
# integer to boolean
a = "False"
print(f"data type before: {type(a)}, value of A: {a}")
a = bool(a)
print(f"data type before: {type(a)},value of A: {a}")

data type before: <class 'str'>, value of A: False
data type before: <class 'bool'>,value of A: True

In [53]:
# empty string  to boolean
a = ""
print(f"data type before: {type(a)}, value of A: {a}") 
a = bool(a)
print(f"data type before: {type(a)},value of A: {a}")

data type before: <class 'str'>, value of A:
data type before: <class 'bool'>,value of A: False

In [54]:
# empty string  to int
a = ""
print(f"data type before: {type(a)}, value of A: {a}")
a = int(a)
print(f"data type before: {type(a)},value of A: {a}")

data type before: <class 'str'>, value of A:

ValueError: invalid literal for int() with base 10: ''

# Memory Blocks
Memory blocks are the smallest units of memory in a computer. Each memory block has a unique address. The size of a memory block is determined by the computer architecture. The memory blocks are used to store data and instructions. The data stored in a memory block can be of different types, such as integers, floating-point numbers, characters, etc. The instructions stored in a memory block are the machine instructions that are executed by the computer processor.

In [21]:
 a = 10
 b = 20
 c = 30

In [22]:
id(a)   # id memory address

140723657231064

In [23]:
id(b)    # id is memory address

140723657231384

In [24]:
id(c)

140723657231704

In [32]:
c = 22 + b

In [33]:
id(c)

140723657232088

In [35]:
a = 100 + c

In [36]:
id(a)

140723657235288

`Memory is assigned to the value of variables in Python. The memory is allocated to the variables based on the type of the value assigned to the variable. The memory is allocated to the variables in the following way:`

In [45]:
a = 22 
b = 34 
c = 22
d = 100000
e = 0
f = True
g = 334.90
h = 2 + 3j 
i = "MalikZeeshan"

print(id(a), id(b), id(c), id(d))
print(id(e), id(f), id(g), id(h))
print(id(i))

140723657231448 140723657231832 140723657231448 1342799954608
140723657230744 140723656435136 1342797991440 1342799954864
1342800056368

In [1]:
x = 22.2
bool(x)

True

In [4]:
x = 22
bool(x)

True

In [2]:
x = 0.0
bool(x)

False

In [5]:
x = 0 
bool(x)

False

In [3]:
x = -22.2
bool(x)

True

In [15]:
i_have_a_doubt = input("yes/no: ")
bool(i_have_a_doubt)

False

In [14]:
i_have_a_doubt = input("yes? ")
bool(i_have_a_doubt)

False

In [16]:
24.99 + 12

36.989999999999995

In [18]:
round(25.88 + 102)

128

In [19]:
def function(x, y):
    print(x+y)
    
function(100, 200)

300

In [32]:
def sum_of_values(a,b,c):
    print(a+b+c) 
    
sum_of_values(10,20,30)

60

In [26]:
def sum_of_values(x,y):
    print(x+y)

sum_of_values(100, 4000)

4100

In [27]:
def sub_of_values(x,y):
    print(x-y)
    
sub_of_values(2000 , 300)

1700

In [28]:
def multiple_of_values(x,y):
    print(x*y)
    
multiple_of_values(11 , 10)

110

In [31]:
def divid_of_values(x,y):
    print(x/y)
    
divid_of_values(100,5)

20.0

In [33]:
a = "22.0"
print(f"Type of a: {type(a)}\nValue of a: {a}")
a = float(a)
print(f"\nType of a: {type(a)}\nValue of a: {a}")

Type of a: <class 'str'>
Value of a: 22.0

Type of a: <class 'float'>
Value of a: 22.0

In [38]:
a = int(a)
print(f"\nType of a: {type(a)}\nValue of a: {a}")

Type of a: <class 'int'>
Value of a: 22

In [39]:
a = bool(a)
print(f"\nType of a: {type(a)}\nValue of a: {a}")

Type of a: <class 'bool'>
Value of a: True

In [40]:
a = complex(a)
print(f"\nType of a: {type(a)}\nValue of a: {a}")

Type of a: <class 'complex'>
Value of a: (1+0j)

In [41]:
a.real

1.0

In [44]:
a.imag

0.0

In [46]:
name = input("Enter your Name: ")
print(f"You have entered: {name}")

You have entered: Malik