# Count specific characters in a string

In [4]:
name = "MALIK ZEESHAN ARAIN"
name.count("A")

1

In [3]:
name.count("I")

2

In [5]:
name.count("M")

1

In [6]:
name.count("E")

2

# Split operations

In [13]:
name = "MALIK ZEESHAN ARAIN"
name.split(" ")

['MALIK', 'ZEESHAN', 'ARAIN']

In [15]:
first_name, middle_name, sir_name = name.split(" ")

print(f"""
first_name: {first_name}
middle_name: {middle_name}
last_name: {sir_name}""")

first_name: MALIK
middle_name: ZEESHAN
last_name: ARAIN

In [21]:
data = input("enter date of birth in the format DD//MM/YYYY: ")

# today date,month and year 

date, month, year = data.split("/")

date = data[0:2]
month = data[3:6]
year = data[6:]

print(f"The user was born in the month of {month} in the year: {year} on date: {date}")

The user was born in the month of 09/ in the year: 003 on date: 19

In [22]:
data.split("/")

['19', '09', '2003']

In [31]:
name1 = "MALIK ZEESHAN ARAIN"

name1.split("_")

['MALIK ZEESHAN ARAIN']

In [35]:
name1 = "MALIK ZEESHAN ARAIN"
name1.split("n")

['MALIK ZEESHAN ARAIN']

In [36]:
date = input("Enter the date in DD/MM/YYYY: ")
date.split("/")

['19', '09', '2003']

In [37]:
A,B,C = date.split("/") 
print(A,B,C)

19 09 2003

In [39]:
A = date.split("/") # 1= 1st value
A

['19', '09', '2003']

In [40]:
A[0] # 0 = 1st value

'19'

In [41]:
A[1] # 1 = second value

'09'

In [43]:
A[2] # 2 = third/last value

'2003'

In [44]:
len(A)

3

In [45]:
len(B)

2

In [47]:
len(C)

4

# lower upper, title cases etc

In [48]:
name = "Malik Zeeshan Arain"
name.lower()

'malik zeeshan arain'

In [49]:
name.upper()

'MALIK ZEESHAN ARAIN'

In [54]:
name = input("Enter your name: ")

print(f"user input: {name}")
print(f"name in lower case: {name.lower()}")
print(f"name in upper case: {name.upper()}")
print(f"name in title case: {name.title()}")
print(f"name in capitalize case: {name.capitalize()}")
print(f"name in swapcase case: {name.swapcase()}") # reverse case of user input

user input: MaliK ZEESHAN AraiN
name in lower case: malik zeeshan arain
name in upper case: MALIK ZEESHAN ARAIN
name in title case: Malik Zeeshan Arain
name in capitalize case: Malik zeeshan arain
name in swapcase case: mALIk zeeshan aRAIn

In [55]:
name = "Today is the best Day of my Life."

print(f"user input: {name}")
print(f"name in lower case: {name.lower()}")
print(f"name in upper case: {name.upper()}")
print(f"name in title case: {name.title()}")
print(f"name in capitalize case: {name.capitalize()}")
print(f"name in swapcase case: {name.swapcase()}") # reverse case of user input

user input: Today is the best Day of my Life.
name in lower case: today is the best day of my life.
name in upper case: TODAY IS THE BEST DAY OF MY LIFE.
name in title case: Today Is The Best Day Of My Life.
name in capitalize case: Today is the best day of my life.
name in swapcase case: tODAY IS THE BEST dAY OF MY lIFE.

# join operations

In [57]:
name = "Malik Zeeshan Arain"

"*".join(name)

'M*a*l*i*k* *Z*e*e*s*h*a*n* *A*r*a*i*n'

In [58]:
"+".join(name)

'M+a+l+i+k+ +Z+e+e+s+h+a+n+ +A+r+a+i+n'

In [59]:
name = "Malik Zeeshan Arain"

"|".join(name)

'M|a|l|i|k| |Z|e|e|s|h|a|n| |A|r|a|i|n'

In [60]:
reversed(name)

In [61]:
"".join(reversed(name))

'niarA nahseeZ kilaM'

In [62]:
name = "MAlik Zeeshan Arain"
name.replace(" ", "|")

'MAlik|Zeeshan|Arain'

# remove extra spaces front and back of the string

In [70]:
name = "    Malik Zeeshan   " 
name.strip(" ")

'Malik Zeeshan'

In [84]:
name = "=====MALIK ZEESHAN ARAIN------"   # remove
name.strip("=,-")

'MALIK ZEESHAN ARAIN'

In [69]:
name.lstrip(" ")  # left hand side spaces remove

'Malik Zeeshan  '

In [71]:
name.rstrip(" ")  # right hand side space remove

'    Malik Zeeshan'

In [85]:
name = "MALIK ZEESHAN ARAIN"  
name.replace(""," ")        # remove all extra spaces

' M A L I K   Z E E S H A N   A R A I N '

In [86]:
name = "MALIK ZEESHAN ARAIN"  
name.replace(" ","")     # remove all extra spaces

'MALIKZEESHANARAIN'

# Fromating

In [89]:
name = "Malik"

name.center(20)

'       Malik        '

In [90]:
name.center(20,"#")

'#######Malik########'

In [91]:
name.center(40,"@")

'@@@@@@@@@@@@@@@@@Malik@@@@@@@@@@@@@@@@@@'

In [94]:
name = "Malik"
name(2,"@")

TypeError: 'str' object is not callable

# Checking string cases

In [100]:
name = "malik zeeshan"
name.isupper()

False

In [101]:
name.islower()

True

In [95]:
name = "Malik"

name.ljust(20,"@")

'Malik@@@@@@@@@@@@@@@'

In [96]:
name.rjust(20,"@")

'@@@@@@@@@@@@@@@Malik'

In [102]:
name = "MALik "
name.isspace()

False

In [103]:
name = "   "
name.isspace()

True

In [105]:
name = input("Enter your name: ") 
 
print(f"user input: {name}") 

if name.istitle():
    print(f"user has given correct input")
elif name.isspace():
    print(f"wrong input please try again! ")
else:
    print(f"wrong input we need to autocorrect it")
    name = name.title()
    print(f"corrected input: {name}")

user input: Malik Zeeshan
user has given correct input

In [106]:
phone_number = "12334445556"
phone_number.isdigit()

True

In [107]:
phone_number = "12334546345qwedfs"
phone_number.isdigit()

False

In [109]:
phone_number = input("Enter your phone #: ")
 
if phone_number.isdigit() and len(phone_number) == 11:
    print(f"your phone number is correct")
else:
    print(f"your phone number is incorrect")
print(phone_number)

your phone number is correct
03022360594

In [113]:
phone_number = input("Enter your phone #: ")
 
if phone_number.isdigit() and len(phone_number) == 11 and phone_number != 00000000000:
    print(f"your phone number is correct")
else:
    print(f"your phone number is incorrect")
print(phone_number)

your phone number is incorrect

In [114]:
phone_number.startswith("0")

False

In [117]:
phone_number.endswith("0")

False

In [120]:
phone_number = "+923022360954"
phone_number.startswith("+92")

True

In [122]:
phone_number[1:].isdigit()

True

In [125]:
len(phone_number) == 13

True

In [128]:
phone_number = input("Enter your Pakistani Phone no: ")

if phone_number.startswith("+92") and phone_number[1:].isdigit() and len(phone_number) == 13:
    print(f"user input is correct")
else:
    print("invalid input")

user input is correct

In [129]:
PAN_NUMBER = "ADFDF43454M"
PAN_NUMBER.isalnum() # Check for alpha number case

True

In [131]:
PAN_NUMBER = " 3453453453452"
PAN_NUMBER.isalnum()

False

In [132]:
PAN_NUMBER = "Malik ** Zeeshan"
PAN_NUMBER.isalnum()

False