  # Inbulit data types
- In Python, the data types are divided into two categories:
    - Primitive Data Types
    - Non-Primitive Data Types
- Primitive Data Types are further divided into four categories:
    - Integer
    - Float
    - String
    - Boolean
- Non-Primitive Data Types are further divided into two categories:
    - List
    - Tuple
    - Set
    - Dictionary
- In this notebook, we will discuss the primitive data types in Python.
- The primitive data types are the basic data types that are provided by the programming language.
- The primitive data types are the building blocks of the non-primitive data types.
- The primitive data types are used to store the simple values.
- The primitive data types are used to store the values that are used in the program.

# List

In [2]:
# List 

# List is a collection which is ordered and changeable. Allows duplicate members.

# Create a List:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [10]:
A = [1,2,3,4,5,6,"Malik", 2 +4j]
A[0]
type(A[0])

int

In [13]:
type(7)

int

In [11]:
type(A)

list

In [12]:
A[7]

(2+4j)

In [1]:
B = [22,33,44,55,66,"MalIK",34 + 12j, True, False, 23.0]
type(B)

list

In [3]:
for element in B:
    print(element)

22
33
44
55
66
MalIK
(34+12j)
True
False
23.0

In [4]:
name = ["Zeeshan","Ahmed", "MALiK","Ahsan","EID"]
type(name)

list

In [5]:
for word in name:
    print(word)

Zeeshan
Ahmed
MALiK
Ahsan
EID

In [8]:
len(B)

10

In [10]:
for i in range(len(B)):
    print(B[i])

22
33
44
55
66
MalIK
(34+12j)
True
False
23.0

In [13]:
B = [22,33,44,55,66,"MalIK",34 + 12j, True, False, 23.0]
type(B)

list

In [14]:
for i in range(len(B)):
    print(f"value={B[i]}, dtype = {type(B[i])}")

value=22, dtype = <class 'int'>
value=33, dtype = <class 'int'>
value=44, dtype = <class 'int'>
value=55, dtype = <class 'int'>
value=66, dtype = <class 'int'>
value=MalIK, dtype = <class 'str'>
value=(34+12j), dtype = <class 'complex'>
value=True, dtype = <class 'bool'>
value=False, dtype = <class 'bool'>
value=23.0, dtype = <class 'float'>

In [15]:
for i in range(len(B)):
    print(f"i = {i}, value={B[i]}, dtype = {type(B[i])}")

i = 0, value=22, dtype = <class 'int'>
i = 1, value=33, dtype = <class 'int'>
i = 2, value=44, dtype = <class 'int'>
i = 3, value=55, dtype = <class 'int'>
i = 4, value=66, dtype = <class 'int'>
i = 5, value=MalIK, dtype = <class 'str'>
i = 6, value=(34+12j), dtype = <class 'complex'>
i = 7, value=True, dtype = <class 'bool'>
i = 8, value=False, dtype = <class 'bool'>
i = 9, value=23.0, dtype = <class 'float'>

# indexing and slicing
- Indexing and slicing are two of the most important concepts in Python.
- Indexing is used to access the elements of a list.
- Slicing is used to access a subset of elements from a list.
- In Python, the indexing of a list starts from 0.
- The index of the first element of a list is 0, the index of the second element is 1, and so on.
- The index of the last element of a list is -1, the index of the second last element is -2, and so on.
- The index of an element of a list is used to access that element.

In [16]:
B[1]

33

In [18]:
B[6]

(34+12j)

In [19]:
B = [22,33,44,55,66,"MalIK",34 + 12j, True, False, 23.0]
type(B)

list

In [20]:
B[:]

[22, 33, 44, 55, 66, 'MalIK', (34+12j), True, False, 23.0]

In [21]:
B[:3]

[22, 33, 44]

In [23]:
B

[22, 33, 44, 55, 66, 'MalIK', (34+12j), True, False, 23.0]

In [24]:
B[3:]

[55, 66, 'MalIK', (34+12j), True, False, 23.0]

In [26]:
B[0::2] # [start index: ]

[22, 44, 66, (34+12j), False]

In [29]:
B[1:8:2]

[33, 55, 'MalIK', True]

In [35]:
for i in range(0,10,2): # starting # ending # Steps 
    print(i, B[i])

0 22
2 44
4 66
6 (34+12j)
8 False

In [34]:
print(B[i])

False

In [37]:
B[::-1]

[23.0, False, True, (34+12j), 'MalIK', 66, 55, 44, 33, 22]

In [38]:
B[::2]

[22, 44, 66, (34+12j), False]

In [40]:
for i in range(0, len(B), 2):
    print(i, B[i])

0 22
2 44
4 66
6 (34+12j)
8 False

In [43]:
for i in range(0, len(B)):
    print(i,B[i])

0 22
1 33
2 44
3 55
4 66
5 MalIK
6 (34+12j)
7 True
8 False
9 23.0

In [48]:
for i in range(-1,-len(B),-1):
    print(i, B[i])

-1 23.0
-2 False
-3 True
-4 (34+12j)
-5 MalIK
-6 66
-7 55
-8 44
-9 33

In [49]:
for i in range(-1,-len(B) -1,-1):
    print(i, B[i])

-1 23.0
-2 False
-3 True
-4 (34+12j)
-5 MalIK
-6 66
-7 55
-8 44
-9 33
-10 22

In [62]:
B[True] = 100

In [63]:
B

[22, 100, 44, 55, 66, 'MalIK', (34+12j), True, False, 23.0]

In [66]:
B[4] = 1000

In [67]:
B

[22, 100, 44, 55, 1000, 'MalIK', (34+12j), True, False, 23.0]

In [68]:
B[5] = 2000

In [69]:
B

[22, 100, 44, 55, 1000, 2000, (34+12j), True, False, 23.0]

In [70]:
B[-1] = "ARTIFICIAL INTELLIGENCE"
B

[22, 100, 44, 55, 1000, 2000, (34+12j), True, False, 'ARTIFICIAL INTELLIGENCE']

In [71]:
C = ["A","B","C"]

In [75]:
list = B + C
list

[22,
 100,
 44,
 55,
 1000,
 2000,
 (34+12j),
 True,
 False,
 'ARTIFICIAL INTELLIGENCE',
 'A',
 'B',
 'C']

In [78]:
list = B - C
list

TypeError: unsupported operand type(s) for -: 'list' and 'list'

[22,
 100,
 44,
 55,
 1000,
 2000,
 (34+12j),
 True,
 False,
 'ARTIFICIAL INTELLIGENCE',
 'A',
 'B',
 'C']

In [77]:
B

[22, 100, 44, 55, 1000, 2000, (34+12j), True, False, 'ARTIFICIAL INTELLIGENCE']

In [79]:
B * 2

[22,
 100,
 44,
 55,
 1000,
 2000,
 (34+12j),
 True,
 False,
 'ARTIFICIAL INTELLIGENCE',
 22,
 100,
 44,
 55,
 1000,
 2000,
 (34+12j),
 True,
 False,
 'ARTIFICIAL INTELLIGENCE']

In [80]:
list * 2

[22,
 100,
 44,
 55,
 1000,
 2000,
 (34+12j),
 True,
 False,
 'ARTIFICIAL INTELLIGENCE',
 'A',
 'B',
 'C',
 22,
 100,
 44,
 55,
 1000,
 2000,
 (34+12j),
 True,
 False,
 'ARTIFICIAL INTELLIGENCE',
 'A',
 'B',
 'C']

In [83]:
B * B # cannot multiply that is not allow

TypeError: can't multiply sequence by non-int of type 'list'

In [84]:
B + B

[22,
 100,
 44,
 55,
 1000,
 2000,
 (34+12j),
 True,
 False,
 'ARTIFICIAL INTELLIGENCE',
 22,
 100,
 44,
 55,
 1000,
 2000,
 (34+12j),
 True,
 False,
 'ARTIFICIAL INTELLIGENCE']

In [85]:
list + list

[22,
 100,
 44,
 55,
 1000,
 2000,
 (34+12j),
 True,
 False,
 'ARTIFICIAL INTELLIGENCE',
 'A',
 'B',
 'C',
 22,
 100,
 44,
 55,
 1000,
 2000,
 (34+12j),
 True,
 False,
 'ARTIFICIAL INTELLIGENCE',
 'A',
 'B',
 'C']

In [86]:
B + B + B

[22,
 100,
 44,
 55,
 1000,
 2000,
 (34+12j),
 True,
 False,
 'ARTIFICIAL INTELLIGENCE',
 22,
 100,
 44,
 55,
 1000,
 2000,
 (34+12j),
 True,
 False,
 'ARTIFICIAL INTELLIGENCE',
 22,
 100,
 44,
 55,
 1000,
 2000,
 (34+12j),
 True,
 False,
 'ARTIFICIAL INTELLIGENCE']

In [88]:
B * (-1)

[]

In [89]:
B * (-2)

[]

In [90]:
A * 0

NameError: name 'A' is not defined

# Basic list operations
- In Python, a list is a collection of elements that are ordered and changeable.
- A list is a mutable data type, which means that the elements of a list can be changed after the list is created.
- A list can contain elements of different data types.

# Length of a list
- The length of a list is the number of elements in the list.
- The length of a list can be calculated using the len() function.

In [92]:
length = [22,
 100,
 44,
 55,
 1000,
 2000,
 (34+12j),
 True,
 False,
 'ARTIFICIAL INTELLIGENCE',
 22,
 100,
 44,
 55,
 1000,
 2000,
 (34+12j),
 True,
 False,
 'ARTIFICIAL INTELLIGENCE',
 22,
 100,
 44,
 55,
 1000,
 2000,
 (34+12j),
 True,
 False,
 'ARTIFICIAL INTELLIGENCE']

len(length)

30

In [93]:
5 in length

False

In [94]:
True in length

True

In [96]:
'ARTIFICIAL INTELLIGENCE' in length

True

In [2]:
my_list = [] # not recommended 
len(my_list)

0

In [3]:
my_list = list() # recommended
len(my_list)

0

In [10]:
list_of_items_to_purchase = list() # empty list 

for i in range(10):
    user_input = input("Enter the item that you want to purchase: ")
    list_of_items_to_purchase = list_of_items_to_purchase + [user_input] # increment
    
print(list_of_items_to_purchase)
print(user_input)

['33', '33', '333', '333', '33', '3', '3', '333', '3', '33']
33

In [8]:
list_of_items_to_purchase = list() # empty list 

Num = int(input("no of item want to purchase"))

for i in range(Num):
    user_input = input("Enter the item that you want to purchase: ")
    list_of_items_to_purchase = list_of_items_to_purchase + [user_input]
    
print(list_of_items_to_purchase)

['laptop', 'mobile', 'iphone']
iphone

In [9]:
len(list_of_items_to_purchase)

3

In [2]:
list_of_items_to_purchase = list() # empty list 

N = int(input("no of item want to purchase: "))

i = 0 # counter
while i < N:
    
    user_input = input("Enter the item that you want to purchase: ")
    list_of_items_to_purchase = list_of_items_to_purchase + [user_input]
    i = i + 1 # increment
    
print(list_of_items_to_purchase)

['Ram', 'Moblie']
Moblie

In [4]:
[1,2] + [23]

[1, 2, 23]

In [5]:
list_of_items_to_purchase = list() # empty list 

N = int(input("no of item want to purchase: "))

i = 0 # counter
while i < N:
    
    user_input = input("Enter the item that you want to purchase: ")
    list_of_items_to_purchase = list_of_items_to_purchase + [user_input]
    print(f"Current list: {list_of_items_to_purchase}")
    i = i + 1 # increment
    
print(list_of_items_to_purchase)

Current list: ['Laoptop']
Current list: ['Laoptop', 'pen']
['Laoptop', 'pen']
pen

In [6]:
list_of_items_to_purchase = list() # empty list 

N = int(input("no of item want to purchase: "))

i = 0 # counter
while i < N:
    
    user_input = input("Enter the item that you want to purchase: ")
    list_of_items_to_purchase = list_of_items_to_purchase + [user_input]
    i = i + 1 # increment
        
    print(f"current i : {i} =>Current list: {list_of_items_to_purchase}")

print(list_of_items_to_purchase)

current i : 1 =>Current list: ['pen']
current i : 2 =>Current list: ['pen', 'Glass']
current i : 3 =>Current list: ['pen', 'Glass', 'mobile']
['pen', 'Glass', 'mobile']

# Check memberships in a list

In [8]:
'pen' in  list_of_items_to_purchase

True

In [10]:
"Phone Cover" in list_of_items_to_purchase # case sensitive

False

In [12]:
if "Phone cover" in list_of_items_to_purchase:
    print("YES")
else:
    print("No, adding into the list")
    
    list_of_items_to_purchase = list_of_items_to_purchase + ["Phone Cover"]

No, adding into the list

In [13]:
list_of_items_to_purchase

['pen', 'Glass', 'mobile', 'Phone Cover']

In [14]:
list_of_items_to_purchase = list_of_items_to_purchase + ["Car"]

In [15]:
list_of_items_to_purchase

['pen', 'Glass', 'mobile', 'Phone Cover', 'Car']

In [16]:
list_of_items_to_purchase = list_of_items_to_purchase + ["Bike","lenov laptop","Ai","Malik","Zeeshan","Google"]

In [17]:
list_of_items_to_purchase

['pen',
 'Glass',
 'mobile',
 'Phone Cover',
 'Car',
 'Bike',
 'lenov laptop',
 'Ai',
 'Malik',
 'Zeeshan',
 'Google']

In [18]:
len(list_of_items_to_purchase)

11

In [24]:
if "CS" not in list_of_items_to_purchase:
    print("YES")

    print("No, adding into the list")
    list_of_items_to_purchase = list_of_items_to_purchase + ["CS"]
list_of_items_to_purchase

YES
No, adding into the list

['pen',
 'Glass',
 'mobile',
 'Phone Cover',
 'Car',
 'Bike',
 'lenov laptop',
 'Ai',
 'Malik',
 'Zeeshan',
 'Google',
 'CS']

In [25]:
new_list = input("Any thing else to add: ")

if new_list not in list_of_items_to_purchase:
    print("No, adding into the list")
    list_of_items_to_purchase = list_of_items_to_purchase + [new_list]
    
list_of_items_to_purchase

No, adding into the list

['pen',
 'Glass',
 'mobile',
 'Phone Cover',
 'Car',
 'Bike',
 'lenov laptop',
 'Ai',
 'Malik',
 'Zeeshan',
 'Google',
 'CS',
 'Market']

In [26]:
len(list_of_items_to_purchase)

13

# max()
we can find max value from a given list

In [27]:
list1  = ["MALIK","DataScience","big-data","Analytics "]
list2 = [2,3,4,5,6,7]

print(max(list1))
print(max(list2))

big-data
7

In [28]:
example = [2,33,444,100]

max(example)

444

In [30]:
string_example = ["a","b","c","d","z"]
max(string_example)

'z'

In [34]:
string_example = ["a","b","C","d","z","c","Z"]
max(string_example)

'z'

In [48]:
string_example = ["Malik","Zeeshan","zeeshan","ahmed","harron","adnan","Dilawar","Bilwal"]   # ascii letters search in google
max(string_example)

'zeeshan'

In [49]:
string_example = ["Malik","Zeeshan","zeeshan","ahmed","harron","adnan","Dilawar","Bilwal"]   # ascii letters search in google
min(string_example)

'Bilwal'

In [53]:
# print the name with highest number of character
for example in string_example:
    print(example, len(example))

Malik 5
Zeeshan 7
zeeshan 7
ahmed 5
harron 6
adnan 5
Dilawar 7
Bilwal 6

In [35]:
string_example = ["a","b","C","d","z","c","Z",1.23,34,43]
max(string_example)

TypeError: '>' not supported between instances of 'float' and 'str'

In [38]:
integer_example = [1,34,5,7,100,200,3004,]
max(integer_example)

3004

In [43]:
integer_example = [1,34,5,7,3.3,-233]
max(integer_example)

34

In [45]:
integer_example = [1,34,5,7,3.3,-233, 100*100]
max(integer_example)

10000

In [44]:
integer_example = [1,34,5,7,3.3,-233]
min(integer_example)

-233

In [42]:
integer_example = [1,34,5,7,2+3j]
max(integer_example)

TypeError: '>' not supported between instances of 'complex' and 'int'